grant codeBase "file:/home/tyurin/code/FileSync/" {
  permission java.security.AllPermission;
};

grant {
	permission java.net.SocketPermission "127.0.0.1", "connect";
};

